source https://api.nuget.org/v3/index.json
nuget Caliburn.Micro ~> 3
nuget xunit
nuget StructureMap ~> 4
nuget NSubstitute
nuget FluentAssertions
nuget MaterialDesignThemes ~> 2
nuget Reactiveui ~> 7
nuget MediatR ~> 3

group Build
content: none
source https://api.nuget.org/v3/index.json
nuget FAKE prerelease

group Tests
content: none
source https://api.nuget.org/v3/index.json
nuget xunit.runner.console
